<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
				<a href="/" class="logo-footer">
					<img src="/img/logo-light.svg" height="24" alt="ASDRO Logo">
				</a>
				<p class="mt-4">Die Überflieger mit dem Durchblick</p>
				<ul class="list-unstyled social-icon social mb-0 mt-4">
					<li class="list-inline-item"><a href="https://www.facebook.com/ASDROSolutions/" class="rounded" aria-label="ASDRO auf Facebook"><i data-feather="facebook"
								class="fea icon-sm fea-social"></i></a></li>
					<li class="list-inline-item"><a href="https://www.instagram.com/asdro.solutions/" class="rounded" aria-label="ASDRO auf Instagram"><i data-feather="instagram"
								class="fea icon-sm fea-social"></i></a></li>
					<li class="list-inline-item"><a href="https://www.youtube.com/channel/UCj3M-0WnESMKmV6XxVwlSpA" class="rounded" aria-label="ASDRO auf Youtube"><i data-feather="youtube"
								class="fea icon-sm fea-social"></i></a></li>
					<li class="list-inline-item"><a href="https://www.linkedin.com/company/15834260/" class="rounded" aria-label="ASDRO auf Linkedin"><i data-feather="linkedin"
								class="fea icon-sm fea-social"></i></a></li>
				</ul>
			</div>

			<div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
				<p class="h4 text-light footer-head">Unternehmen</p>
				<ul class="list-unstyled footer-list mt-4">
					<li><a href="/about/about-us" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>Über Asdro</a></li>
					<li><a href="/pages/services" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>Leistungen</a></li>
					<li><a href="/pages/fields/" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>Branchen</a></li>
				</ul>
			</div>

			<div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
				<p class="h4 text-light footer-head">Rechtliches</p>
				<ul class="list-unstyled footer-list mt-4">
					<li><a href="/pages/privacy" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>Datenschutz</a></li>
					<li><a href="/pages/imprint" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>Impressum</a></li>
				</ul>
			</div>

			<div class="col-lg-4 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
				<p class="h4 text-light footer-head">Standorte</p>
				<div class="row">
					<div class="col-12 col-lg-auto">
						<address class="mt-3">
							<p class="m-0">Asdro GmbH</p>
							<p class="m-0">Katernberger Str. 107</p>
							<p class="m-0">45327 Essen</p>
						</address>
					</div>
					<div class="d-none d-lg-block col-lg">
						<img src="/img/d-at-map.png" class="img-fluid" alt="ASDRO Standorte">
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<footer class="footer footer-bar">
	<div class="container text-center">
		<div class="row align-items-center">
			<div class="col-12">
				<div class="text-sm-left">
					<p class="mb-0">© 2019 – {{ now.Format "2006" }} — {{ $.Site.Title }}. 
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>
